@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #39c4be;
}
/* 追加のリセットCSS（既存サイトで使っていたものを反映） */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul[role="list"],
ol[role="list"],
ul, ol, dl {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img, picture {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
input, button, textarea, select {
  font: inherit;
}

body {
  background-color: var(--bg);
  font-family: 'Nico Moji', 'M PLUS Rounded 1c', 'Noto Sans JP', sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}


